.mobile-logs-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.85);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-logs-content {
    background: #1a1a1a;
    width: 90%;
    height: 90%;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
