.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.85);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-content {
    background: #1a1a1a;
    width: 90%;
    max-width: 400px;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 20px;
    color: #ddd;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

/*.essence-btn {
    border-radius: 8px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    border: 2px solid transparent;
}*/

/* O Botão Base (A Esfera) */
.essence-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.1s ease, filter 0.2s;
    padding: 0;
}

    /* O efeito de passar o rato */
    .essence-btn:hover:not(:disabled) {
        transform: scale(1.1);
    }

    /* Quando o botão bloqueia (já atingiu o limite de pagamento) */
    .essence-btn:disabled {
        filter: grayscale(100%) opacity(0.3);
        cursor: not-allowed;
    }

/*.vigor {
    background-color: #ff6a00;
}

.mind {
    background-color: #00e5ff;
}

.light {
    background-color: #ffd800;
}

.shadow {
    background-color: #aa00ff;
}

.flux {
    background-color: #ff0055;
}

.neutral {
    background-color: #aaaaaa;
}*/
