@using GuildArena.Shared.DTOs.Combat

<div class="resource-bar">
    <div class="player-name">@Player.Name</div>
    <div class="essence-pool">
        @foreach (var kvp in Player.EssencePool.Where(e => e.Value > 0))
        {
            <div class="essence-slot" title="@kvp.Key">

                <!-- 1. O Ícone da Essence (Orbe/Cristal) -->
                <!-- Futuramente, a class css será substituída/complementada por uma tag <img> ou background-image -->
                <div class="essence-icon @kvp.Key.ToString().ToLower()"></div>

                <!-- 2. O Badge numérico com a quantidade -->
                <div class="essence-count">@kvp.Value</div>

            </div>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required CombatPlayerDto Player { get; set; }
}