<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand game-logo" href="">
            GuildArena
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column game-menu">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roster" Match="NavLinkMatch.All">
                <span class="fs-5 me-2">🏕️</span> Guild Roster
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="encounters">
                <span class="fs-5 me-2">⚔️</span> Encounters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dungeons">
                <span class="fs-5 me-2">🏰</span> Dungeons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tavern">
                <span class="fs-5 me-2">🍻</span> Hero Tavern
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quests">
                <span class="fs-5 me-2">📜</span> Quests
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}