.top-row {
    min-height: 4.5rem;
    background-color: rgba(0,0,0,0.6);
    border-bottom: 2px solid #555;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.game-menu {
    padding-top: 1rem;
}

.nav-item {
    margin-bottom: 0.5rem;
}

    .nav-item ::deep a {
        color: #b3b3b3;
        border-radius: 4px;
        height: 3.5rem;
        display: flex;
        align-items: center;
        line-height: 3.5rem;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.2s ease;
        border-left: 4px solid transparent;
        white-space: nowrap; /* Impede a quebra de linha do texto e do ícone */
    }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.05);
            color: #fff;
            border-left: 4px solid #fff;
        }

        .nav-item ::deep a.active {
            background-color: rgba(255, 216, 0, 0.15);
            color: #ffd800;
            border-left: 4px solid #ffd800;
            text-shadow: 0 0 8px rgba(255, 216, 0, 0.5);
        }

.game-logo {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #ffd800;
    font-size: 1.75rem;
    letter-spacing: 2px;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        height: calc(100vh - 4.5rem);
        overflow-y: auto;
    }
}
